* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
a {
  font-weight: bold;
  text-decoration: none;
  margin: 50px;
  font-weight: bold;
}
button {
  margin: 20px;
  width: 150px;
  padding-left: 20px;
  font-weight: bold;
}
.banner {
  height: 100vh;
  background-image: url("../img/john.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation {
  height: 80px;
}

h1 {
  text-align: center;
  padding-top: 230px;
  font-size: 40px;
  color: black;
  font-weight: bold;
}
#text {
  text-align: center;
  font-size: 15px;
}
#fa {
  text-decoration: none;
  color: red;
}
.form {
  padding-left: 380px;
  width: 1200px;
}

p {
  text-align: center;
  font-weight: bold;
  color: black;
}
#search {
  margin-top: 10px;
  margin-left: auto;
  
}
.col{
  margin-left: 10px;
  width: 800px;
  margin-right: 2px;
}
#sea{
  margin-top: 4px;
  margin-left: 2px;
  width: 40px;
}
#row{
  padding: 10px;
  width: 2000px;
  margin-left: 160px;
  margin-right: 2px;
}
.one{
  font-weight: bold;
  margin-top: 2px;
}
#a:hover{
  color:green;
}
#a{
  font-weight: bold;
}
#b{
  font-weight: bold;
}
#b:hover{
  color:green;
}
#c{
  font-weight: bold;
}
#c:hover{
  color:green;

}
#d{
  font-weight: bold;
}
#d:hover{
  color:green;

}
#e{
  font-weight: bold;
}
#e:hover{
  color:green;

}